{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row title"  >
      <div class="title"><h1>{% block title %}
          Deposit Slip
      {% endblock %}</h1></div>

    </div>
    {% if user.is_authenticated %}


    <form method="POST" class="form-group DepositForm">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>






<!--

    <div class="row" >
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Edit Contact</h2>
              <form method="POST" class="form-group generic_contact_form">
  {% csrf_token %}
   <table border="1">

{% if object_list %}
<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
{% for book in object_list %}


      <option>{{ book.Last_Name }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}


  <button type="submit">Submit</button>
</form>
        </div>
        <div class="panel-footer">Panel footer</div>
      </div>


      </div>
      <div class="row" > -->
<!-- <p>https://bootsnipp.com/snippets/OPzW8 snippit to learn accordion dropdown</p>
{% if object_list %}
<div class="table-responsive">
<table class="table-sm table-hover table-striped ">

  <thead>
  <tr>
    <th scope="col">Category</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
    <th scope="col">Postal_Code</th>
    <th scope="col">Country</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
</thead>
<tbody>
{% for book in object_list %}
  <tr>
      <td>{{ book.Contact_Category }}</td>
      <td>{{ book.First_Name }}</td>
      <td>{{ book.Last_Name }} </td>
      <td>{{ book.Address }} </td>
      <td>{{ book.City }} </td>
      <td>{{ book.State }} </td>
      <td>{{ book.Postal_code }} </td>
      <td>{{ book.Country }} </td>
      <td>{{ book.Email }} </td>
      <td>{{ book.Phone }} </td>
        {% endfor %}
  </tr>
  </tbody>
  </table> -->
<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                            </span>DETAILS</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="grant1">Grant#</label>
                                        <input type="text" class="form-control" id='grant1' placeholder="GRANT#" required />
                                        <div>Grant Activity and Number: R34 DE002449-01</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="grant2">Grant# (alternative)</label>
                                        <input type="text" class="form-control" id'grant2' placeholder="GRANT# (Alternare)" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="grantparent">Grant# (Parent)</label>
                                        <select class="form-control" id="grantparent">
                                            <option></option>
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="shorttitle">Short Title</label>
                                        <input type="text" class="form-control" id='shorttitle' placeholder="Dentistry Includes Nutrition Reminders (DINR)" required />
                                        <div> </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="title">Title</label>
                                        <input type="text" class="form-control" id='shorttitle' placeholder="Dentistry Includes Nutrition Reminders (DINR)" required />
                                    </div>
                                    <div class="form-group">
                                    <label for="suplimenta">Suplimental Grants</label>
                                        <input type="text" class="form-control" id='suplimenta' required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span>Administration</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="grantpo">Grant PO</label>
                                        <select class="form-control" id="grantpo">
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="well well-sm well-primary">
                                        <label for="grantor">Grantor</label>
                                        <select class="form-control" id="grantor">
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endif %}
{% endif %}
{% endblock %}
