{% extends "layout.html" %}

{% block body_block %}

<!-- CREATE TABLE IF NOT EXISTS "contacts_contact" ("Owner_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "uuid" varchar(22) NOT NULL PRIMARY KEY, "Created_On" date NOT NULL, "Contact_Category" varchar(20) NOT NULL, "Account" varchar(100) NOT NULL, "Address" varchar(255) NOT NULL, "City" varchar(255) NOT NULL, "State" varchar(2) NOT NULL, "Postal_code" varchar(20) NOT NULL, "Country" varchar(30) NOT NULL, "Company" varchar(50) NOT NULL, "First_Name" varchar(30) NOT NULL, "Last_Name" varchar(30) NOT NULL, "Email" varchar(254) NOT NULL, "Phone" varchar(20) NOT NULL, "First_Name2" varchar(30) NOT NULL, "Last_Name2" varchar(30) NOT NULL, "Phone2" varchar(20) NOT NULL, "Email2" varchar(254) NOT NULL, "Note" text NOT NULL);
CREATE INDEX "contacts_contact_Owner_id_3d7a8cab" ON "contacts_contact" ("Owner_id"); -->

{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
<h1>Contacts</h1>

{{ Contact }}
  <tr>
    {% for contact in Contacts %}
    <td>{{ contact }}</td>
    <td>{{ Contacts.contact}}</td>
  {{ Contacts }}
  {{ table }}
  {{ contacts }}
  {{ contacts.contacts }}
  {{ contacts.contacts }}
  {% for row in column %}
  {{ output.row }}
  {{ column.row }}
  {{ row }}
  {% endfor  %}
  {% endfor  %}

{% for column in output %}
{{ column }}
{{ output.column }}
{% for row in column %}
{{ output.row }}
{{ column.row }}
{{ row }}
{% endfor  %}
{% endfor  %}
{% for column in data %}
{{ column }}
{{ data.column }}
{% for row in column %}
{{ output.row }}
{{ column.row }}
{{ row }}
{% endfor  %}
{% endfor  %}
<div class="table-container">
    {% block table %}
        <table {% render_attrs table.attrs class="table" %}>
            {% block table.thead %}
            {% if table.show_header %}
                <thead class="thead-default" {{ table.attrs.thead.as_html }}>
                <tr>
                {% for column in table.columns %}
                    <th {{ column.attrs.th.as_html }}>
                        {% if column.orderable %}
                            <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                        {% else %}
                            {{ column.header }}
                        {% endif %}
                    </th>
                {% endfor %}
                </tr>
                </thead>
            {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody {{ table.attrs.tbody.as_html }}>
                {% for row in table.paginated_rows %}
                    {% block table.tbody.row %}
                    <tr scope="row" {{ row.attrs.as_html }}>
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %}
                {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            {% if table.has_footer %}
            <tfoot {{ table.attrs.tfoot.as_html }}>
                <tr>
                {% for column in table.columns %}
                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
                </tr>
            </tfoot>
            {% endif %}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}

    {% block pagination %}
        {% if table.page and table.paginator.num_pages > 1 %}
        <nav aria-label="Table navigation">
            <ul class="pagination justify-content-center">
            {% if table.page.has_previous %}
                {% block pagination.previous %}
                <li class="previous page-item">
                    <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                        {% trans 'previous' %}
                    </a>
                </li>
                {% endblock pagination.previous %}
            {% endif %}
            {% if table.page.has_previous or table.page.has_next %}
            {% block pagination.range %}
            {% for p in table.page|table_page_range:table.paginator %}
                <li class="page-item{% if table.page.number == p %} active{% endif %}">
                    <a class="page-link" {% if p != '...' %}href="{% querystring table.prefixed_page_field=p %}"{% endif %}>
                        {{ p }}
                    </a>
                </li>
            {% endfor %}
            {% endblock pagination.range %}
            {% endif %}
            {% if table.page.has_next %}
                {% block pagination.next %}
                <li class="next page-item">
                    <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="page-link">
                        {% trans 'next' %}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endblock pagination.next %}
            {% endif %}
            </ul>
        </nav>
        {% endif %}
    {% endblock pagination %}
</div>
{% endblock table-wrapper %}
{% endblock %}
