{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row" >
      <h1>Add Contact</h1>

<form style="border: 1px solid blue" method="POST" class="vendor-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>

        <!-- <form style="border: 1px solid red" action="{% url "contacts" %}" method="POST" class="DonorForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form> -->

    </div>
</div>
{% endblock %}
