[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
materialize = "*"
django = "*"
django-filter = "*"
django-filters = "*"
django-materialize = "*"
django-shortuuidfield = "*"
bootstrap = "*"
django-tables2 = "*"
django-address = "*"
confusable-homoglyphs = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
