<!-- Much assistance from this tutorial https://github.com/wsvincent/django-auth-tutorial -->
<!-- https://wsvincent.com/django-user-authentication-tutorial-login-and-logout/ -->

{% extends "layout.html" %}


{% block content %}
<div class="container">
    <div class="row title"  >
      <div class="title"><h1>{% block title %}
          Login
      {% endblock %}</h1></div>
      </div>

      <div class="row" >

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary dark" type="submit">Login</button>
      </form>

      </div>


{% endblock %}
