{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}
<div class="container">
    <div class="row" >
      <h1>Donors</h1>





      <ul>
        {% for contact in object_list %}
          <li class="contact">{{ contact }}</li>
        {% endfor %}
      </ul>
    </div>
</div>


<table>
    <tr>
        <th>Field 1</th>
        ...
        <th>Field N</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.field1 }}</td>
        ...
        <td>{{ item.fieldN }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
