
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <div class="row" >
      <div class="title"><h2>Home</h2></div>
      </div>
      <div class="row">


      {% if user.is_authenticated %}
        Hi {{ user.username }}!
        
        <p><a href="{% url 'logout' %}">logout</a></p>
      {% else %}
        <p>You are not logged in.</p>
    </div>
    <div class="row">
      <a class="btn button btn-primary" href="{% url 'login' %}">Login</a>
    </div>
    <div class="row">
      <a class="btn button btn-primary" href="{% url 'signup' %}">Sign Up</a>
    </div>
    <div class="row">
      <a class="btn button btn-primary" href="{% url 'password_reset' %}">Reset Password</a>
    {% endif %}
    {% endblock %}
