{% extends "layout.html" %}
{% load bootstrap %}
{% block title %}
    Contacts Detail
{% endblock %}

{% block body_block %}


<div class="container">
  <div class="row" >
    {% if user.is_authenticated %}
      Hi {{ user.username }}!

    <h1>Contacts Detail</h1>


    <table>
        <tr>
          {% for row in ContactListView %}
          <td>jack</td>
          <td>
            {%  for field in row %}
          </td>
          {%  endfor %}
            </tr>
            {%  endfor %}
</table>

{# contacts/detail.html #}



</div>
</div>

{% endif %}
{% endblock %}
