{% extends "layout.html" %}

{% block body_block %}
<div class="container">
    <div class="row title"  >
      <div class="title"><h1>{% block title %}
          Detail
      {% endblock %}</h1></div>
      </div>
            {% if user.is_authenticated %}

            <div class="row">

              <div class="post">
          {% if contact.Created_On %}
              <div class="date">
                  {{ post.Created_On }}
              </div>
          {% endif %}
          <p>{{ Contact.First_Name }}</p>
          <p>{{ Contact.Last_Name }}</p>
      </div>
        {% endif %}
        {% endblock %}
      <!-- {{ form.non_field_errors }}

      {{ form.source.errors }}
      {{ form.source }}
<div class="col-lg">
{{ form.Contact_Category.label_tag }}
{{ form.Contact_Category.errors }}
{{ form.Contact_Category }}
</div>
<div class="col-lg">
{{ form.Account.label_tag }}
{{ form.Account.errors }}
{{ form.Account }}
  </div>

  <div class="col-lg">
<div class="row">
{{ form.Address.label_tag }}
  {{ form.Address.errors }}
  {{ form.Address }}
</div>
<div class="row">
  {{ form.City.label_tag }}
    {{ form.City.errors }}
    {{ form.City }}

    {{ form.State.label_tag }}
      {{ form.State.errors }}
      {{ form.State }}
      </div>
<div class="row">
      {{ form.Postal_code.label_tag }}
        {{ form.Postal_code.errors }}
        {{ form.Postal_code }}

        {{ form.Country.label_tag }}
          {{ form.Country.errors }}
          {{ form.Country }}
    </div>

</form>
</div>
</div> -->
      <!-- <table border="1">

          <tr>
            <th>{{ form.Contact_Category.label_tag }}</th>
            <td>
              {{ form.Contact_Category.errors }}
              {{ form.Contact_Category }}
            </td>
          </tr>

          <tr>
            <th>{{ form.Account.label_tag }}</th>
            <td>
              {{ form.Account.errors }}
              {{ form.Account }}
            </td>
          </tr> -->

          <!-- <tr>
            <th>{{ form.message.label_tag }}</th>
            <td>
              {{ form.message.errors }}
              {{ form.message }}
              <br />
              {{ form.message.help_text }}
            </td>
          </tr> -->

      <!-- </table> -->
