{% extends "layout.html" %}

{% block body_block %}
<div class="container">
    <div class="row title"  >
      <div class="title"><h1>{% block title %}
          New Contacts
      {% endblock %}</h1></div>
      </div>
        {% if user.is_authenticated %}
  <div class="row" >
  <form class="form-group" method="post">
  <h2>New post</h2>
      <form method="POST" class="generic_contact_form">
        {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-primary">Save</button>
      </form>

{% endif %}
{% endblock %}
