{% extends "layout.html" %}

{% block body_block %}
<div class="container">
    <div class="row title"  >
      <div class="title"><h1>{% block title %}
          New Contacts
      {% endblock %}</h1></div>
      </div>
        {% if user.is_authenticated %}
      <div class="row" >
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Receivable</a>
          <a class="btn btn-primary" type="button"   href="{% url 'new_vendor' %}" aria-expanded="false" >Payable</a>
          <a class="btn btn-primary" type="button"  href="{% url 'new_contact_generic' %}" >I'm not sure</a>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <a type=button class="btn btn-primary" href="{% url 'new_donor_individual' %}">Donor Individual</a>
                <a type=button class="btn btn-primary" href="{% url 'new_donor_couple' %}">Donor Couple</a>
                <a type=button class="btn btn-primary" href="{% url 'new_donor_business' %}">Donor Business</a>
                <a type=button class="btn btn-primary" href="{% url 'new_donor_other' %}">Donor Other</a>
                </div>              </div>
            </div>

          </div>
        </div>

  </div>


{% endif %}
{% endblock %}
