

/* CSS for layout.html */

.page-header {
  padding: 1em;
}

.navbtn {
  border: 1px solid gainsboro;
  background-color: grey;
  color: black;
}

/* END Settings for layout.html */
/* CSS for other */

.title {
margin-top: 2em;
}
.login {
  margin-right: 0.5em;
  background-color: red;
}

#loginrow {
  display: none;
  margin-top: 1em;
}

#registerrow {
  display: none;
  margin-top: 1em;
}
